@import '../../index.scss';

.journeylist{
    width: 70vw;
    max-width: 1170px;
    margin: 0 auto;
    
    padding: 3rem 2rem 2rem;


}
.backgroundColor1{
    background: $mainGrey;
    padding: 2rem;
}



.sectionHeader {
	font-family: $title;
	font-size: xx-large;
	text-align: center;
	color: $mainBlack;
	margin-bottom: 4rem;
}

.sectionHeader .header {
	font-size: xx-large;
}

span.header {
	font-family: $title;
	font-size: xx-large;
	background-color:$mainGrey;
	position: relative;
	z-index: 50;
	padding: 0 9px 0 9px;
}

.header img {
	opacity: .45;
}

.header.ver2::before {
  content: " ";
  display:block;
  position:absolute;
  width:30em;
  left:50%;
  top:50%;
  -webkit-transform: translateX(-50%);
  z-index: -1;
  margin-top:0;
  border-top: 3px solid $mainBlack;
}
